.homePageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    height: 100vh;
}
.editornav{
    /* background-color: #2ac9cb; */
    color: #fff;
    text-align: center;
    height: 12vh;
    margin-top: 0px;
    padding-top: 0px;
}
.page2{
    height: 100vh;
    background-color: #132c38;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.formWrapper {
    /* background: #1b9613; */
    background-image: url("/public/pic2.jpg");
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
}

footer {
    position: fixed;
    bottom: 0;
}

footer a {
    color: #4aee88;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.mainLabel {
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
}
.heading {
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
    size: 30px;
}

.homePageLogo {
    height: 80px;
    margin-bottom: 30px;
}

.inputBox {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 14px;
    background: #eee;
    font-size: 16px;
    font-weight: bold;
}

.btn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
    background: #2ac9cb;
    width: 100px;
    margin-left: auto;
    color:white;
}

.joinBtn:hover,
.leaveBtn:hover {
    background: #6eddb3;
}

.createInfo {
    margin: 0 auto;
    margin-top: 20px;
}

.createNewBtn {
    color: #4aed88;
    text-decoration: none;
    border-bottom: 1px solid #4aed88;
    transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
    color: #368654;
    border-color: #368654;
}

.mainWrap {
    display: grid;
    grid-template-columns: 230px 1fr;
}
.aside {
    background: #1b495e;
    padding: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.asideInner {
    flex: 1;
}
.clientsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
    font-size:large;
    font-weight: lighter;
}

.client {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    text-align: center;
}
.userName {
    margin-top: 10px;
}
.leaveBtn {
    width: 100%;
    margin-top: 20px;
}
.CodeMirror {
    min-height: 85vh;
    font-size: 20px;
    line-height: 1.6;
    padding-top: 20px;
}

.cchead{
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.ssi{
    margin-top: 0px;
    padding-top: 0px;
}
